@import 'utils.css';

:root {
  --primary: #2eb086;
  --dark: #313552;
  --light: #f0f0f0;
  --tertiary: #b8405e;
  --pure: #ffffff;
  --mix: #54bab9;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: var(--dark);
  clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 calc(100% - 5vw)
  );
}

span {
  color: var(--mix);
}

header nav .left a {
  color: var(--light);
  text-decoration: none;
  margin-right: 2.3rem;
  font-size: 1rem;
  text-transform: uppercase;
  transition: all 0.4s ease-in-out;
}

header nav .left a:hover {
  font-size: 1.1rem;
  color: var(--tertiary);
}

header nav {
  padding: 0.6rem 0;
}

.container {
  width: 85vw;
  margin: 0 auto;
}

.logo {
  margin-right: 1rem;
}

.hero .right {
  color: var(--pure);
  padding: 0.6rem;
  text-align: end;

}

.hero .right h1 {
  font-size: 3rem;
  font-weight: 500;
  margin: -0.5rem 0 0.5rem 0;

 
}
.hero .right h6 {
  font-size: 0.9rem;
  font-weight: 500;
  margin: -0.5rem 0 0.2rem 0;
}

.hero .right p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 1rem 0;
}

 /* section */
 section {
  padding: 5rem 0;
}

.card {
  position: relative;
  min-width: 500px;
  max-width: 650px;
  background-color: var(--light);
  padding: 2rem;
  margin-top: 2rem;
  margin-right: 30px;
  border-width: 0px;
  border-style: solid;
  border-color: var(--dark);
  box-shadow: 23px 12px 14px -14px var(--dark);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.card h3::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--mix);
}

.card img {
  position: absolute;
  top: -35px;
  right: 0px;
}

.card:hover {
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 17px 27px 36px 0px var(--dark);
}

/* about */
.about-img{
    flex:1;
    margin-left: 5rem;
}


.about-img img{
  box-shadow: 3px 6px 23px -1px var(--dark);
  border-radius: 10px;
}

.about-data{
  flex: 1;
}

.about-data h1 {
  font-weight: 400;
}

.about-data p {
  font-weight: 300;
}

.about-data h3 {
  font-weight: 400;
  margin-bottom: 1rem;
  margin-top: 0.2rem;
}

.about-data img{
  margin: 3px;
  margin-top: 6px;
  margin-left: 0;
}

/* footer  */
footer{
   background-color: var(--dark);
   color: var(--pure);
   clip-path: polygon(0 0, 100% 16%, 100% 100%, 0% 100%);
}

footer .container{
  padding: 3rem;
}

form{
  margin-left: 10%;
  margin-top: 5%;
}

label{
  margin: 0.5rem;
}
input{
  margin: 0.5rem;
  padding: 0.3rem;
  border-style: none;
  background-color: var(--dark);
  font-size: 1rem;
  border-bottom: 1px solid var(--light);
}

input:focus{
  color: var(--pure);
}
input:hover{
  border-color: green;
  border-width: 2px;
}

textarea{
  margin: 0.5rem;
  padding: 0.3rem;
  border-style: none;
  background-color: var(--dark);
  font-size: 1rem;
  border-bottom: 1px solid var(--light);
}

textarea:focus{
  color: var(--pure);
}
textarea:hover{
  border-color: green;
  border-width: 2px;
}

footer .btn{
  margin: 0.5rem;
  padding: 0.3rem;
}



@keyframes color-changer {
  0%{
    color: var(--primary);
  }
  10%{
    color: #b83987;
  }
  20%{
    color: #7a39b8;
  }
  30%{
    color: #4e39b8;
  }
  40%{
    color: #3997b8;
  }
  50%{
    color:#39b8a6;
  }
  60%{
    color: #39b86d;
  }
  70%{
    color:#7ab839;
  }
  80%{
    color: #b8ad39;
  }
  90%{
    color: #b88b39;
  }
  100%{
    color: #b85939;
  }
}